@import "tailwindcss";
@reference "tailwindcss";
@plugin "@tailwindcss/typography";

@layer utilities {
    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .hide-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

:root {
    .lenis-stopped {
        overflow: auto !important;
        scrollbar-width: none;
    }
}

